<?xml version='1.0' encoding='utf-8'?>
<widget id="com.alexkvazos.cordovabuild" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaBuild</name>
    <description>
        An improved distribution of Apache Cordova with Grunt tasks and tools to help you build your app
    </description>
    <author email="contact@alexkvazos.com" href="http://alexkvazos.com">
        AlexKvazos
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
